<h1>Welcome!</h1>
 
<form action="/greet" method="POST">
  <label for="user_name">Fisrt Name:</label>
  <p><input type="text" name="first_name" id="first_name" /></p>
  <label for="user_name">Last Name:</label>
  <p><input type="text" name="last_name" id="last_name" /></p>
  
  <input type="submit" value="Submit"/>
</form>